@tailwind base;
@tailwind components;
@tailwind utilities;


@import './fonts.css';

@font-face {
  font-family: 'Anton';
  src: url('/fonts/anton/Anton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lucida Console Regular';
  src: url('/fonts/lucida-sans/Lucida-Console-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('/fonts/lucida-sans/LucidaSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('/fonts/lucida-sans/LucidaSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('/fonts/lucida-sans/LucidaSans-Demibold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('/fonts/lucida-sans/LucidaSans-DemiboldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}


:root {
  font-family: 'Lucida Console Regular', sans-serif;
  font-style: normal;
}
